<%- include('../../fragments/header') %>
    <h3>Rent List</h3>
    <br>
    <table class="list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last Name</th>
                <th>Car Brand</th>
                <th>Car Model</th>
                <th>Pick Up Date</th>
                <th>Return Date</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <% for (let rent of rents) { %>
                <tr>
                    <td><%= rent.customer.name%></td>
                    <td><%= rent.customer.lastName%></td>
                    <td><%= rent.car.brand %></td>
                    <td><%= rent.car.model %></td>
                    <td><%= rent.pickupDate %></td>
                    <td><%= rent.returnDate %></td>
                    <td><%= rent.price %></td>
                    <td>
                        <a class="button view" href="/rent/details/<%=rent._Id%>">View</a>
                        <a class="button edit" href="/rent/edit/<%=rent._Id%>">Edit</a>
                        <a class="button del" href="/rent/delete/<%=rent._Id%>">Delete</a>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
    <a href="/rent/add" class="button add">Add Rent</a>
    </main>

    <%- include('../../fragments/footer.ejs') %>